body {
    font-family: georgia;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	max-width: 1000px;
    padding: 0 0.9375rem;   
}

.hovudlut {
	float: left;
	width: 700px;
}

.peikarar {
	float: right;
	width: 300px;
	border-left: 1px solid black;
}