body {
    font-family: georgia;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 0.9375rem;   
}

.innhald {
  width: 850px;
  margin: auto;
}

.hovudlut {
	float: left;
	width: 60%;
}

.peikarar {
	float: right;
	width: 30%;
	border-left: 1px solid black;
}

@media only screen and (max-width:520px) {
  /* For mobile phones: */
  .hovudlut, .peikarar, .innhald {
    width:100%;
	padding:0px;
	border: none;
  }
}

.framsideknapp {
	margin:1.5rem 0 0 1.5rem
}